@tailwind base;
@tailwind components;
@tailwind utilities;

.cinzel_decorative {
  font-family: var(--font-cinzel_decorative);
}

.open_sans {
  font-family: var(--font-open_sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
