@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-cinzel: "Cinzel Decorative";
  --font-pixelify: "Pixelify Sans"
  --font-opensans: "Open Sans";
}

.cinzel {
  font-family: var(--font-cinzel);
}

.nunito {
  font-family: var(--font-nunito);
}

.opensans {
  font-family: var(--font-opensans);
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .line-clamp-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* Limit to 1 line */
    overflow: hidden;
    text-overflow: ellipsis; /* Optional: adds ellipsis at the end */
  }  

  .scrollbar::-webkit-scrollbar {
    width: 4px;
  }
  
  .scrollbar::-webkit-scrollbar-track {
    background:#192A51;
  }
}
